/*Start scroll */

#actor_scroller::-webkit-scrollbar,
#recomendation_scroller::-webkit-scrollbar {
    width: 0px;
    height: 10px;
    background-color: #000;
    cursor: pointer;
}
/* End scroll */
html {
    --headingColor: #ff6b00;
    --alternateBlack: #0d0d0d;
    --backgroundAlternateBlack: rgba(13, 13, 13, 0.6);
    --heightPage: 600px;
}
body {
    font-family: 'Roboto', 'Nunito Sans', sans-serif !important;
    backdrop-section {
        margin-top: -100px;

        .backdrop {
            width: 100%;
            height: 640px;
            background-repeat: no-repeat;
            background-size: cover;
            .backdrop-background {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                height: 51.4rem;
                .backdrop-background-image-filter {
                    height: 100%;
                    img {
                        width: -webkit-fill-available;
                        height: 100%;
                        object-fit: cover;
                    }

                    .img-gradient {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.3);
                        background-image: linear-gradient(
                                to bottom,
                                rgba(0, 0, 0, 0) 50%,
                                rgba(0, 0, 0, 0.7) 100%
                            ),
                            radial-gradient(
                                50% 100%,
                                rgba(0, 0, 0, 0) 50%,
                                rgba(0, 0, 0, 0.7) 100%
                            );
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        height: inherit;
                    }
                }
            }
            .poster-image {
                display: none;
            }
            .backdrop-text {
                position: relative;
                width: 100%;
                padding: 75px 0;
                z-index: 10;
                top: 0;
                .text {
                    .upper-text-section {
                        height: 141px;
                        width: 467px;
                        .genre {
                            display: inline-block;
                        }
                        .title {
                            h2 {
                                margin-top: 1rem;
                                font-size: 2.5rem;
                                line-height: 50.07px;
                            }
                        }
                        .tagline {
                            margin-top: -5px;
                            .tagline-text {
                                font-style: italic;
                            }
                        }
                        .rating-runtime {
                            margin-top: 4px;
                            .rating {
                                font-size: 1.3rem;
                            }
                        }
                    }
                    .bottom-text-section {
                        margin-top: 6rem;
                        width: 600px;
                    }
                }

                .social-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    background-color: var(--backgroundAlternateBlack);
                    padding: 0.2rem 0.5rem;
                    a {
                        display: block;
                    }
                    .social-logo {
                        font-size: 1.7rem;
                        margin-top: 1rem;
                        color: var(--headingColor);
                    }
                }
            }
            .video-modal {
                position: absolute;
                width: 100%;
                height: var(--heightPage);
                top: 0;
                .container {
                    margin: calc(var(--heightPage) / 3) auto;
                    height: calc(var(--heightPage) / 3);
                    button {
                        background-color: transparent;
                        border: none;
                        // color: #fff;
                        font-size: 5rem;
                        z-index: 20;
                        padding: 0;
                        height: 80px;
                        border-radius: 50%;
                        display: flex;
                        margin: auto;
                        .button-icon {
                            z-index: 15;
                        }
                    }
                    button:hover {
                        color: #fff !important;
                    }
                    button:active {
                        color: #c8c6c6 !important;
                    }
                    button:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
                .modal {
                    .modal-dialog {
                        .modal-body {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 0;
                            height: 550px;
                            .wrap-button {
                                position: absolute;
                                right: 0;
                                padding: 0.5rem;
                            }
                            iframe {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        .tiny-info {
            width: 850px;
            margin: auto;
            padding: 2rem 1rem 1rem 1rem;
            background-color: var(--alternateBlack);
            position: relative;
            margin-top: -3rem;
            border-radius: 25px;
            .tiny-info-wrapper {
                width: 750px;
                margin: auto;
                h5 {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    actor-section,
    recomendation-section {
        .movie-detail,
        .recomendation-section {
            height: 450px;
            padding-top: 3rem;
            #actor_scroller,
            #recomendation_scroller {
                margin-top: 1.25rem;
                overflow: scroll;

                actor-list,
                movie-list {
                    display: flex;
                    .actor-card {
                        margin-right: 1.25rem;
                        width: 185px;
                        display: flex;
                        flex-wrap: wrap;

                        .shadow-image {
                            border-radius: 1.02rem;
                            width: 100%;
                            min-height: calc(180px * 1.5);
                            height: calc(180px * 1.5);
                            background: #dbdbdb;
                            overflow: hidden;
                            cursor: pointer;
                        }

                        .image-actor:hover img {
                            transform: scale(1.1);
                        }
                        .image-actor {
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                transform: scale(1);
                                backface-visibility: hidden;
                                transition: transform 0.35s;
                            }
                            .actor-gradient {
                                background: linear-gradient(
                                    180deg,
                                    rgba(37, 37, 37, 0.33) -8.93%,
                                    rgba(113, 47, 0, 0.88) 121.13%
                                ) !important;
                                position: relative;
                                margin-top: -16.9rem;
                            }
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                font-size: 1.3rem;
                            }
                        }
                        .content {
                            position: relative;
                            margin-top: -4.9rem;
                            flex-wrap: wrap;
                            align-self: end;

                            h5,
                            p {
                                margin: 0;
                                font-size: 1rem;
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    recomendation-section {
        .recomendation-section {
            height: 550px;
        }
        #recomendation_scroller {
            margin-top: 1.25rem;
            overflow: scroll;
            movie-list {
                display: flex;
            }

            .wrap-movie {
                display: flex;
                margin-bottom: 1rem;

                .card-movie {
                    margin-right: 1.25rem;
                    width: 185px;
                    // height: 255px;
                    .image-movie:hover a img {
                        transform: scale(1.1);
                    }
                    .image-movie {
                        .shadow-image {
                            border-radius: var(--imageBorderRadius);
                            width: 100%;
                            min-height: calc(150px * 1.5);
                            height: calc(150px * 1.5);
                            overflow: hidden;
                        }
                        .wrapper-image {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 105%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                transform: scale(1);
                                backface-visibility: hidden;
                                transition: transform 0.35s;
                            }
                        }
                    }
                    .content {
                        margin: 0.5rem;

                        h2 {
                            line-height: 0.7;
                            a {
                                font-size: 1rem;
                                color: #fff !important;
                                margin: 0;
                                display: block;
                                margin-top: 1rem;
                                line-height: 1.2;
                            }
                        }
                        .utils {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        span {
                            margin: 0;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

.underline {
    border-bottom: 2px solid var(--headingColor);
    padding-bottom: 3px;
    width: max-content;
}
.text-white-25 {
    color: rgba(255, 255, 255, 0.25) !important;
}
.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

@media screen and (max-width: 768px) {
    .poster-image {
        display: block !important;
        position: relative !important;
        padding: 0 1rem;
        .card-movie {
            width: 185px;
            margin: auto !important;
            .image-movie:hover a img {
                transform: scale(1.1);
            }
            .image-movie {
                .shadow-image {
                    border-radius: var(--imageBorderRadius);
                    width: 100%;
                    min-height: calc(150px * 1.5);
                    height: calc(150px * 1.5);
                    overflow: hidden;
                }
                .wrapper-image {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 105%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        transform: scale(1);
                        backface-visibility: hidden;
                        transition: transform 0.35s;
                    }
                }
            }
        }
    }
    .backdrop {
        height: 100% !important;
        .backdrop-background {
            height: 56.4rem !important;
            top: 0 !important;
        }
        .backdrop-text {
            padding: 20px 0 !important;
            .container {
                justify-content: unset !important;
                flex-wrap: wrap;
                .text {
                    width: 100%;
                    .upper-text-section {
                        width: 100% !important;
                        height: 100% !important;
                        .title h2 {
                            font-size: 1.5rem !important;
                            margin-top: 0 !important;
                        }
                    }
                    .bottom-text-section {
                        margin-top: 1rem !important;
                        width: 100% !important;
                    }
                }
                .social-media {
                    width: 100%;
                    margin-top: 1rem;
                    .social-wrapper {
                        flex-direction: row !important;
                        justify-content: space-around;
                        .social-logo {
                            margin: 1rem !important;
                        }
                    }
                }
                .rating-runtime {
                    .rating {
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }

    .video-modal {
        button {
            margin: 0 auto !important;
        }
    }
    .tiny-info {
        width: -webkit-fill-available !important;
        margin-top: 0 !important;
        .tiny-info-wrapper {
            width: 100% !important;
            h5 {
                font-size: 1rem;
            }
            p {
                margin-bottom: 0 !important;
                font-size: 0.9rem !important;
            }
        }
    }
    actor-section,
    recomendation-section {
        .actor-card,
        .card-movie {
            width: 155px !important;
        }
    }
}

@media screen and (max-width: 990px) {
    .tiny-info {
        width: -webkit-fill-available !important;
        width: auto;
        .tiny-info-wrapper {
            width: 100% !important;
        }
    }
}
