/*Start scroll */
#actor_scroller::-webkit-scrollbar,
#recomendation_scroller::-webkit-scrollbar {
  width: 0px;
  height: 10px;
  background-color: #000;
  cursor: pointer;
}

/* End scroll */
html {
  --headingColor: #ff6b00;
  --alternateBlack: #0d0d0d;
  --backgroundAlternateBlack: rgba(13, 13, 13, 0.6);
  --heightPage: 600px;
}

body {
  font-family: 'Roboto', 'Nunito Sans', sans-serif !important;
}

body backdrop-section {
  margin-top: -100px;
}

body backdrop-section .backdrop {
  width: 100%;
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
}

body backdrop-section .backdrop .backdrop-background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 51.4rem;
}

body backdrop-section .backdrop .backdrop-background .backdrop-background-image-filter {
  height: 100%;
}

body backdrop-section .backdrop .backdrop-background .backdrop-background-image-filter img {
  width: -webkit-fill-available;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body backdrop-section .backdrop .backdrop-background .backdrop-background-image-filter .img-gradient {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%), radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: inherit;
}

body backdrop-section .backdrop .poster-image {
  display: none;
}

body backdrop-section .backdrop .backdrop-text {
  position: relative;
  width: 100%;
  padding: 75px 0;
  z-index: 10;
  top: 0;
}

body backdrop-section .backdrop .backdrop-text .text .upper-text-section {
  height: 141px;
  width: 467px;
}

body backdrop-section .backdrop .backdrop-text .text .upper-text-section .genre {
  display: inline-block;
}

body backdrop-section .backdrop .backdrop-text .text .upper-text-section .title h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  line-height: 50.07px;
}

body backdrop-section .backdrop .backdrop-text .text .upper-text-section .tagline {
  margin-top: -5px;
}

body backdrop-section .backdrop .backdrop-text .text .upper-text-section .tagline .tagline-text {
  font-style: italic;
}

body backdrop-section .backdrop .backdrop-text .text .upper-text-section .rating-runtime {
  margin-top: 4px;
}

body backdrop-section .backdrop .backdrop-text .text .upper-text-section .rating-runtime .rating {
  font-size: 1.3rem;
}

body backdrop-section .backdrop .backdrop-text .text .bottom-text-section {
  margin-top: 6rem;
  width: 600px;
}

body backdrop-section .backdrop .backdrop-text .social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--backgroundAlternateBlack);
  padding: 0.2rem 0.5rem;
}

body backdrop-section .backdrop .backdrop-text .social-wrapper a {
  display: block;
}

body backdrop-section .backdrop .backdrop-text .social-wrapper .social-logo {
  font-size: 1.7rem;
  margin-top: 1rem;
  color: var(--headingColor);
}

body backdrop-section .backdrop .video-modal {
  position: absolute;
  width: 100%;
  height: var(--heightPage);
  top: 0;
}

body backdrop-section .backdrop .video-modal .container {
  margin: calc(var(--heightPage) / 3) auto;
  height: calc(var(--heightPage) / 3);
}

body backdrop-section .backdrop .video-modal .container button {
  background-color: transparent;
  border: none;
  font-size: 5rem;
  z-index: 20;
  padding: 0;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

body backdrop-section .backdrop .video-modal .container button .button-icon {
  z-index: 15;
}

body backdrop-section .backdrop .video-modal .container button:hover {
  color: #fff !important;
}

body backdrop-section .backdrop .video-modal .container button:active {
  color: #c8c6c6 !important;
}

body backdrop-section .backdrop .video-modal .container button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body backdrop-section .backdrop .video-modal .modal .modal-dialog .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  height: 550px;
}

body backdrop-section .backdrop .video-modal .modal .modal-dialog .modal-body .wrap-button {
  position: absolute;
  right: 0;
  padding: 0.5rem;
}

body backdrop-section .backdrop .video-modal .modal .modal-dialog .modal-body iframe {
  width: 100%;
  height: 100%;
}

body backdrop-section .tiny-info {
  width: 850px;
  margin: auto;
  padding: 2rem 1rem 1rem 1rem;
  background-color: var(--alternateBlack);
  position: relative;
  margin-top: -3rem;
  border-radius: 25px;
}

body backdrop-section .tiny-info .tiny-info-wrapper {
  width: 750px;
  margin: auto;
}

body backdrop-section .tiny-info .tiny-info-wrapper h5 {
  margin-bottom: 1rem;
}

body actor-section .movie-detail,
body actor-section .recomendation-section,
body recomendation-section .movie-detail,
body recomendation-section .recomendation-section {
  height: 450px;
  padding-top: 3rem;
}

body actor-section .movie-detail #actor_scroller,
body actor-section .movie-detail #recomendation_scroller,
body actor-section .recomendation-section #actor_scroller,
body actor-section .recomendation-section #recomendation_scroller,
body recomendation-section .movie-detail #actor_scroller,
body recomendation-section .movie-detail #recomendation_scroller,
body recomendation-section .recomendation-section #actor_scroller,
body recomendation-section .recomendation-section #recomendation_scroller {
  margin-top: 1.25rem;
  overflow: scroll;
}

body actor-section .movie-detail #actor_scroller actor-list,
body actor-section .movie-detail #actor_scroller movie-list,
body actor-section .movie-detail #recomendation_scroller actor-list,
body actor-section .movie-detail #recomendation_scroller movie-list,
body actor-section .recomendation-section #actor_scroller actor-list,
body actor-section .recomendation-section #actor_scroller movie-list,
body actor-section .recomendation-section #recomendation_scroller actor-list,
body actor-section .recomendation-section #recomendation_scroller movie-list,
body recomendation-section .movie-detail #actor_scroller actor-list,
body recomendation-section .movie-detail #actor_scroller movie-list,
body recomendation-section .movie-detail #recomendation_scroller actor-list,
body recomendation-section .movie-detail #recomendation_scroller movie-list,
body recomendation-section .recomendation-section #actor_scroller actor-list,
body recomendation-section .recomendation-section #actor_scroller movie-list,
body recomendation-section .recomendation-section #recomendation_scroller actor-list,
body recomendation-section .recomendation-section #recomendation_scroller movie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card,
body actor-section .movie-detail #actor_scroller movie-list .actor-card,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card {
  margin-right: 1.25rem;
  width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card .shadow-image,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .shadow-image,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .shadow-image,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .shadow-image,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .shadow-image,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .shadow-image,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .shadow-image,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .shadow-image,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .shadow-image,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .shadow-image,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .shadow-image,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .shadow-image,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .shadow-image,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .shadow-image,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .shadow-image,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .shadow-image {
  border-radius: 1.02rem;
  width: 100%;
  min-height: calc(180px * 1.5);
  height: calc(180px * 1.5);
  background: #dbdbdb;
  overflow: hidden;
  cursor: pointer;
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card .image-actor:hover img,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .image-actor:hover img,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor:hover img,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor:hover img,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor:hover img,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor:hover img,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor:hover img,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor:hover img,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .image-actor:hover img,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .image-actor:hover img,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor:hover img,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor:hover img,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor:hover img,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor:hover img,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor:hover img,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card .image-actor img,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .image-actor img,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor img,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor img,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor img,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor img,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor img,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor img,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .image-actor img,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .image-actor img,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor img,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor img,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor img,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor img,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor img,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card .image-actor .actor-gradient,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .image-actor .actor-gradient,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor .actor-gradient,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor .actor-gradient,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor .actor-gradient,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor .actor-gradient,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor .actor-gradient,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor .actor-gradient,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .image-actor .actor-gradient,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .image-actor .actor-gradient,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor .actor-gradient,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor .actor-gradient,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor .actor-gradient,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor .actor-gradient,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor .actor-gradient,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor .actor-gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-8.93%, rgba(37, 37, 37, 0.33)), color-stop(121.13%, rgba(113, 47, 0, 0.88))) !important;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.33) -8.93%, rgba(113, 47, 0, 0.88) 121.13%) !important;
  position: relative;
  margin-top: -16.9rem;
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card .image-actor a,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .image-actor a,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor a,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor a,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor a,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor a,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor a,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor a,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .image-actor a,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .image-actor a,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .image-actor a,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .image-actor a,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .image-actor a,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .image-actor a,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .image-actor a,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .image-actor a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card .content,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .content,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .content,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .content,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .content,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .content,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .content,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .content,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .content,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .content,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .content,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .content,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .content,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .content,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .content,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .content {
  position: relative;
  margin-top: -16.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body actor-section .movie-detail #actor_scroller actor-list .actor-card .content h5,
body actor-section .movie-detail #actor_scroller actor-list .actor-card .content p,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .content h5,
body actor-section .movie-detail #actor_scroller movie-list .actor-card .content p,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .content h5,
body actor-section .movie-detail #recomendation_scroller actor-list .actor-card .content p,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .content h5,
body actor-section .movie-detail #recomendation_scroller movie-list .actor-card .content p,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .content h5,
body actor-section .recomendation-section #actor_scroller actor-list .actor-card .content p,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .content h5,
body actor-section .recomendation-section #actor_scroller movie-list .actor-card .content p,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .content h5,
body actor-section .recomendation-section #recomendation_scroller actor-list .actor-card .content p,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .content h5,
body actor-section .recomendation-section #recomendation_scroller movie-list .actor-card .content p,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .content h5,
body recomendation-section .movie-detail #actor_scroller actor-list .actor-card .content p,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .content h5,
body recomendation-section .movie-detail #actor_scroller movie-list .actor-card .content p,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .content h5,
body recomendation-section .movie-detail #recomendation_scroller actor-list .actor-card .content p,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .content h5,
body recomendation-section .movie-detail #recomendation_scroller movie-list .actor-card .content p,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .content h5,
body recomendation-section .recomendation-section #actor_scroller actor-list .actor-card .content p,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .content h5,
body recomendation-section .recomendation-section #actor_scroller movie-list .actor-card .content p,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .content h5,
body recomendation-section .recomendation-section #recomendation_scroller actor-list .actor-card .content p,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .content h5,
body recomendation-section .recomendation-section #recomendation_scroller movie-list .actor-card .content p {
  margin: 0;
  font-size: 1rem;
  display: block;
  width: 100%;
}

body recomendation-section .recomendation-section {
  height: 550px;
}

body recomendation-section #recomendation_scroller {
  margin-top: 1.25rem;
  overflow: scroll;
}

body recomendation-section #recomendation_scroller movie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body recomendation-section #recomendation_scroller .wrap-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie {
  margin-right: 1.25rem;
  width: 185px;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .image-movie:hover a img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .image-movie .shadow-image {
  border-radius: var(--imageBorderRadius);
  width: 100%;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  overflow: hidden;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .image-movie .wrapper-image {
  width: 100%;
  height: 100%;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .image-movie .wrapper-image img {
  width: 105%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .content {
  margin: 0.5rem;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .content h2 {
  line-height: 0.7;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .content h2 a {
  font-size: 1rem;
  color: #fff !important;
  margin: 0;
  display: block;
  margin-top: 1rem;
  line-height: 1.2;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .content .utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body recomendation-section #recomendation_scroller .wrap-movie .card-movie .content span {
  margin: 0;
  font-size: 0.8rem;
}

.underline {
  border-bottom: 2px solid var(--headingColor);
  padding-bottom: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.text-white-25 {
  color: rgba(255, 255, 255, 0.25) !important;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media screen and (max-width: 768px) {
  .poster-image {
    display: block !important;
    position: relative !important;
    padding: 0 1rem;
  }
  .poster-image .card-movie {
    width: 185px;
    margin: auto !important;
  }
  .poster-image .card-movie .image-movie:hover a img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .poster-image .card-movie .image-movie .shadow-image {
    border-radius: var(--imageBorderRadius);
    width: 100%;
    min-height: calc(150px * 1.5);
    height: calc(150px * 1.5);
    overflow: hidden;
  }
  .poster-image .card-movie .image-movie .wrapper-image {
    width: 100%;
    height: 100%;
  }
  .poster-image .card-movie .image-movie .wrapper-image img {
    width: 105%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
  }
  .backdrop {
    height: 100% !important;
  }
  .backdrop .backdrop-background {
    height: 56.4rem !important;
    top: 0 !important;
  }
  .backdrop .backdrop-text {
    padding: 20px 0 !important;
  }
  .backdrop .backdrop-text .container {
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .backdrop .backdrop-text .container .text {
    width: 100%;
  }
  .backdrop .backdrop-text .container .text .upper-text-section {
    width: 100% !important;
    height: 100% !important;
  }
  .backdrop .backdrop-text .container .text .upper-text-section .title h2 {
    font-size: 1.5rem !important;
    margin-top: 0 !important;
  }
  .backdrop .backdrop-text .container .text .bottom-text-section {
    margin-top: 1rem !important;
    width: 100% !important;
  }
  .backdrop .backdrop-text .container .social-media {
    width: 100%;
    margin-top: 1rem;
  }
  .backdrop .backdrop-text .container .social-media .social-wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .backdrop .backdrop-text .container .social-media .social-wrapper .social-logo {
    margin: 1rem !important;
  }
  .backdrop .backdrop-text .container .rating-runtime .rating {
    font-size: 1rem !important;
  }
  .video-modal button {
    margin: 0 auto !important;
  }
  .tiny-info {
    width: -webkit-fill-available !important;
    margin-top: 0 !important;
  }
  .tiny-info .tiny-info-wrapper {
    width: 100% !important;
  }
  .tiny-info .tiny-info-wrapper h5 {
    font-size: 1rem;
  }
  .tiny-info .tiny-info-wrapper p {
    margin-bottom: 0 !important;
    font-size: 0.9rem !important;
  }
  actor-section .actor-card,
  actor-section .card-movie,
  recomendation-section .actor-card,
  recomendation-section .card-movie {
    width: 155px !important;
  }
}

@media screen and (max-width: 990px) {
  .tiny-info {
    width: -webkit-fill-available !important;
    width: auto;
  }
  .tiny-info .tiny-info-wrapper {
    width: 100% !important;
  }
}
/*# sourceMappingURL=detail.css.map */