@media screen and (max-width: 768px) {
    input[name='search'] {
        padding: 0.5rem 1rem !important;
    }
    .card-movie {
        width: 135px !important;
        margin-left: calc(1.25rem / 2);
        margin-right: calc(1.25rem / 2) !important;
    }
    .wrapper-image {
        align-items: unset !important;
    }
}
