@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Lato', 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

.headings h1 {
    text-align: center;
    margin: 0;
    padding: 80px 0 50px 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    transition: all .5s ease-in-out;

}

.btn:hover {
    opacity: 1;
    border-radius: 30px;
    transition: all .5s ease-in-out;

}

/*bagian header*/
.menu-icon {
    color: #000;
    float: right;
    font-size: 25px;
    padding: 21px 10px;
    transition: .5s ease-in-out;
}

#icon {
    display: none;
}

.menu-icon-scroll {
    color: #fff;
    float: right;
    font-size: 23px;
    padding: 21px 10px;
    display: none;
    transition: .5s ease-in-out;
}
.menu-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 25px;
}

.menu-icon-scroll:hover {
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 23px;
}

.main-header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all .5s ease-in-out;


}

.scroll-header {
    height: 65px;
    width: 100%;
    /* background-color: rgba(130, 181, 233,0.9);*/
    background-color: rgba(130, 181, 233, 0.95);

    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.3);
    transition: all .5s ease-in-out;
}

.logo {
    background-image: url(../img/Genius%20Education%201.png) !important;
    height: 55px;
    width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: 10px 0;
    transition: .5s ease-in-out;
}

.logo-header:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.left-header {
    float: left;
    height: 75px;
}

.left-header-scroll {
    float: left;
    height: 65px;
}

.right-header {
    float: right;
    margin: 0px;
}

.right-header ul {
    margin: 0;
}

.right-header li {
    float: left;
    list-style: none;
    margin-top: 0;
}

.nav-list {
    line-height: 75px;
    padding: 0 15px;
    color: #000;
    display: block;
    float: left;
    transition: all 0.5s;
    font-size: 16.2px;
}

.right-header a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
}


.nav-list-scroll {
    line-height: 65px;
    padding: 0 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    font-size: 16px;
}

.logo-sroll {
    background-image: url(../img/Genius%20Education%201-white.png);
    height: 55px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: 5px 0;
    transition: .5s ease-in-out;

}

.border {
    border-bottom: 2px solid #000;
    padding: 16px 0px;
    transition: .5s ease-in-out;
    width: 0px;
}

.right-header li:hover .border {
    padding: 16px;
    transition: .5s ease-in-out;
    width: 75%;
}

.border-scroll {
    border-bottom: 2px solid #f4f6ff;
    padding: 16px 0px;
    transition: 0.5s ease-in-out;
    width: 0px;
}

.right-header li:hover .border-scroll {
    padding: 16px;
    transition: .5s ease-in-out;
    width: 75%;
}




/*bagian main*/
/*Beranda*/
.top-wrapper {
    height: 675px;
    background-image: url(../img/gedung-ui-5d25dd8d0d82300834242a15.jpg);
    background-size: cover;
    opacity: 0.85;
}

.top-wrapper .container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.top-wrapper p {
    text-align: justify;
    line-height: 1.5;

    margin: 5px auto;
    width: 560px;
    color: #000;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 10px
}

.heading {
    color: #fff;
    font-family: sans-serif;
    text-shadow: 3px 3px 3px rgba(94, 94, 94, 1);
    padding-top: 6.5em;
    opacity: 0.9;
    text-align: center;
    margin: auto;
}

.heading h1 {
    margin: 20px 0 15px 0;
    padding: 0;
    font-size: 36px;
    margin-bottom: 0;
}

.heading h2 {
    margin: 10px 0 40px 0;
    font-size: 30px;
}



.daftar {
    background-color: #239b76;
    margin: 0 auto;
}

/*profil*/
.about-wrapper {
    height: 660px;
    background-color: #fff;
    margin: auto;
    position: relative;
    background-image: url(../img/3132.jpg) !important;
    background-size: cover;

}

.about-wrapper .container {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.about-wrapper h1 {
    color: #777284;
    font-size: 38px;
    padding: 80px 0 40px 0;
}

figure {
    width: 450px;
    max-height: 450px;
    margin: 16px 40px;
}

figure img {
    width: 450px;
    border-radius: 10px;
    box-shadow: 2px 6px 12px 1px rgba(0, 0, 0, 0.3);

}

.about-wrapper figcaption {
    width: 350px;
    text-align: center;
    font-weight: bold;
    margin: 10px auto;

}

.about-wrapper .paragraf {
    width: 100%;
    height: auto;

}

.about-wrapper p {
    color: #444444;
    font-family: 'PT Sans';
    font-size: 19px;
    text-align: justify;
    height: auto;

}

/*fasilitas*/
.features-wrapper {
    height: 660px;
    background-image: url(../img/DkUMxOOUcAAcLnc.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0 30px 0 0;
    height: auto;
    background-color: #f7f7f7;
    text-align: center;

}

.features-wrapper h1 {
    color: #fff;
    margin: 0;
    padding-bottom: 0;
}

.headings .border {
    border-bottom: 2px solid #239b76;
    padding-top: 0px;
}


.features-wrapper p {
    padding: 15px 10%;
    font-size: 18px;
    height: auto;
    line-height: 30px;
    margin: auto;
    color: #7a747d;
}

.features {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    padding-bottom: 100px;
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.features-heading h3 {
    margin-bottom: 0;
    font-family: 'Nunito', helvetica, sans-serif;
    color: #5f5d60;

}

.features-heading p {
    padding-top: 0;
}

.feature {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    text-align: center;
    margin: 20px 15px;
    border-radius: 20px;

}

.feature .border {
    transition: 0.5s all;
    border-bottom: 2px solid #239b76;
    margin: auto;
    padding-left: 1em;
}

.feature-icon .icon {
    font-size: 2.5em;
    color: #69A9E4;
}

.icon {
    opacity: 0.7;
    transition: 0.5s all;

}

.card:hover .icon {
    transition: 0.5s all;
    opacity: 1;

}

.card:hover {
    background-color: rgba(255, 255, 255, 0.93);
    transition: 0.3s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow, top;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.card:hover .border {
    transition: 0.5s all;
    margin: auto;
    padding-left: 5em;
}

/*Contact*/
.contact-wrapper {
    height: 660px;
    background-color: #fff;
    text-align: center;
}

.text {
    padding: 8% 0 0 0;
}

.contact-wrapper {
    text-align-last: center;
}

.contact-wrapper h2 {
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 80px 0 20px 0;
    color: #677284;
}

.final {
    margin-top: 30px;
    border-radius: 10px;
}

.social-contact {
    width: auto;
    margin-top: 10em;
}

.contact-list {
    display: flex;
    flex: 1;
    width: 250px;

    margin: 10px auto;
    padding: 0 auto;
}

.contact-list span {
    font-size: 1.8em !important;
    padding: 0 15px;
    cursor: pointer;
}


.contact-list .fa-facebook {
    color: #3b5998;
}

.contact-list .fa-twitter {
    color: #55acee;
}

.contact-list .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;

    background-clip: text;
    -webkit-text-fill-color: transparent;

}

/*Dev*/
.dev-wrapper {
    height: 660px;
    background-image: url(../img/bg-content2.png);
    background-repeat: repeat;
}

.dev-wrapper h1 {
    padding-bottom: 30px;
    padding-top: 70px;

}

/*Informasi saya bagian kiri*/
.about-me {
    width: 100%;
}

.general-info {
    float: left;
    width: 25%;
}

aside {
    height: 450px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 10px;
    flex-direction: column;
}

aside img {
    width: 170px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto;
}

.general-top figure {
    width: 95%;
    margin: 0 auto;
    padding: 0 auto;
}

.general-top {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.general-top figcaption {
    font-weight: bold;
    padding-top: 20px;
}

.general-top p {
    margin-top: 10px;
    margin-bottom: 0;
}

.general-bottom {
    padding: 0 5px;
    padding-top: 15px;
}

.general-bottom p {
    font-size: 14px;
    width: 98%;
}

#email {
    font-size: 12px;
}

.general-bottom a {
    color: #000;
}

.general-bottom .wa:hover .fa-whatsapp {
    color: #25d366 !important;
}

.general-bottom a:hover {
    text-shadow: 3px 3px 3px rgba(94, 94, 94, 0.3);

}

.general-bottom span {
    font-size: 18px;
}

.first {
    margin-top: 0px;
}

.fa-birthday-cake {
    margin-right: 7px;
}

.fa-whatsapp {
    margin-right: 7px;
}

.fa-envelope {
    margin-right: 5px;
}



/*Informasi saya bagian kanan*/
.advance-info {
    width: 70%;
    height: 500px;
    float: left;
    margin: 0;
}

.info {
    width: 100%;
    height: 450px;
    margin: 0 20px 0 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}


.dev-wrapper h2 {
    margin-top: 0;
}

.horizontal {
    float: left;
    height: 60%;
    padding-bottom: 20px;
}

.bio {
    width: 300px;
    width: 45%;
    float: left;
}

.educations {
    width: 250px;
    width: 40%;

    margin: 0 0 0 20px;
    float: left;
}

.education p {
    padding: 5px auto;
    margin: 5px auto;
}

.education h4 {
    padding: 0px auto;
    margin: 0 auto;
}

.SMA {
    padding-top: 20px;
}

.my-social {
    text-align: center;
    width: 300px;
    height: 250px;
    height: 40%;
    width: 90%;
}

.my-social h2 {
    padding-bottom: 10px;
}

.social-media li {
    width: 95%;
    padding: 0 auto;

}

.social-media ul {
    padding: 0px 20px;
    display: inline-flex;
    flex: 2;
}

.social-list a {
    color: #000;
    font-size: 2.4em !important;
    width: 50px !important;
    margin: 20px;
}


.social-list .fa-linkedin {
    color: #007AB5;
}

.social-list .fa-facebook {
    color: #3b5998;
}

.social-list .fa-twitter {
    color: #55acee;
}

.social-list .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-list {
    transition: ease all 0.3s;

}

.social-list:hover {
    font-size: 1.1em;
    text-shadow: 3px 3px 3px rgba(94, 94, 94, 0.5);
    transition: ease all 0.3s;

}


/*up*/
.up {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #88B8E8;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 20;
    opacity: 0.5;
}

.up:hover {
    color: #5A7DA2;
    opacity: 1;
}

/*Footer*/

footer {
    color: #d3d3d3;
    margin: auto;
    width: 100%;

}

.upper-footer {
    background: #303036;
    height: 80%;

}

.bottom-footer {
    background: #343a40;
    color: #686868;
    height: 20%;
    text-align: center;
    padding: 3px 0 10px 0;

}

.copyright {
    padding: 0;
    margin: 0;
}

.footer-content {
    /*
    display: grid;
    grid-template-columns: auto auto auto;*/
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 95%;
    margin: auto;
}

.footer-section {
    padding: 0 10px;
    margin: 0 auto;

}

.footer-content h3 {
    font-size: 20px;
    text-align: center;
}

.tentang {
    padding: 0 auto;
    width: 40%;
    text-align: justify;

}

.layanan {
    width: 20%;
    margin: 0 auto;
    padding: 0 auto;
}

.layanan p {
    width: 80%;
    margin: 5px auto;
}


.layanan a {
    color: #d3d3d3 !important;
    font-size: 15px;
}

.social {
    margin: 0 auto;
    width: 35%;
    padding: 0 auto;

}

.footer-list li {
    width: 45%;
    margin: 5px auto;
}

/*Social Media beserta Hovernya*/

.fa {
    margin-right: 5px;
}

.social span {
    margin: 5px;
}

.social a {
    color: #d3d3d3;
    margin-left: 5px;
}

.social .fa-facebook {
    margin-right: 11px;
}

.social .fa-instagram {
    margin-right: 8px;
}

.social ul {
    padding-left: 0px;
}

.fb:hover .fa-facebook {
    color: #3b5998;
}

.tw:hover .fa-twitter {
    color: #55acee;
}

.ig:hover .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;

    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    font-size: 18px !important;
}
