<div class="movie-detail">
    <div class="container p-0">
        <div class="main-actor">
            <h4 class="underline fw-bold">Main Actor</h4>
            <div id="actor_scroller" class="p-0">
                <actor-list class="pb-2"></actor-list>
                <!-- <div class="actor-list">
                    <div class="actor-item mb-3">
                        <div class="actor-card shadow">
                            <div class="image-actor shadow-image">
                                <img
                                    src="https://image.tmdb.org/t/p/h632/zrJjYjOYzDj7eY9oiHAoz8Yh0yk.jpg"
                                    alt="poster"
                                    loading="lazy"
                                />
                                <div class="shadow-image actor-gradient"></div>
                            </div>
                            <div class="container content">
                                <h5 class="fw-bold">Simu Liu</h5>
                                <p>Shaun / Shang-Chi</p>
                            </div>
                        </div>
                    </div> 
                    <actor-item></actor-item>
                </div> -->
            </div>
        </div>
    </div>
</div>
