$enable-negative-margins: true;

body {
  nav {
    background-color: transparent;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    z-index: 10;
  }
  .hero {
    margin-top: -5rem;
    .hero-background {
      z-index: 0;
      position: absolute;
      top: -70px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      height: 43.4rem;
      .hero-background-image-filter {
        img {
          width: -webkit-fill-available;
          height: 100%;
          object-fit: cover;
        }
        .img-gradient {
          background: rgba(0, 0, 0, 0.4);
          background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(rgba(0, 0, 0, 0.8)),
            color-stop(60%, rgba(0, 0, 0, 0)),
            to(rgba(0, 0, 0, 0.8))
          );
          background-image: -webkit-linear-gradient(
            bottom,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
          );
          background-image: -moz-
            oldlinear-gradient(
              bottom,
              rgba(0, 0, 0, 0.8) 0,
              rgba(0, 0, 0, 0) 60%,
              rgba(0, 0, 0, 0.8) 100%
            );
          background-image: -o-linear-gradient(
            bottom,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
          );
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
          );
        }

        .img-gradient {
          position: absolute;
          background: rgba(0, 0, 0, 0.5);
          background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(50%, rgba(0, 0, 0, 0)),
              to(rgba(0, 0, 0, 0.7))
            ),
            radial-gradient(
              50% 100%,
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 0.7) 100%
            );
          background-image: -webkit-linear-gradient(
              bottom,
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 0.7) 100%
            ),
            -webkit-radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(
                    0,
                    0,
                    0,
                    0.7
                  )
                  100%);
          background-image: -moz-
              oldlinear-gradient(
                bottom,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0.7) 100%
              ),
            -moz- oldradial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(
                    0,
                    0,
                    0,
                    0.7
                  )
                  100%);
          background-image: -o-linear-gradient(
              bottom,
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 0.7) 100%
            ),
            -o-radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(
                    0,
                    0,
                    0,
                    0.7
                  )
                  100%);
          background-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 0.7) 100%
            ),
            radial-gradient(
              50% 100%,
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 0.7) 100%
            );
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          height: inherit;
        }
      }
    }

    .hero-text {
      position: relative;
      width: 100%;
      padding: 75px 0;
      max-width: 950px;
      margin: 0 auto;
      text-align: center;
      z-index: 1;
      top: 8rem;
    }
    .hero-search {
      position: relative;
      width: 100%;
      padding: 30px 0;
      // max-width: 950px;
      margin: 0 auto;
      text-align: center;
      z-index: 1;
      form {
        display: flex;
        justify-content: center;
      }

      #inner_search {
        width: 25rem;
        height: 3rem;
      }
    }
  }
}

.bg-primary,
.btn-primary {
  background-color: #5e72e4 !important;
}
.bg-dark-primary,
.btn-dark-primary {
  background-color: #3c4eb1 !important;
}

.bg-success,
.btn-success {
  background-color: #2dce89 !important;
}
.bg-danger,
.btn-danger {
  background-color: #f40612 !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 15%) !important;
}
