@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
/*Start scroll */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  width: 5px;
  height: 2px;
  background-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #000;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  width: 5px;
  height: 2px;
  background-color: #262626;
}

/* End scroll */
body {
  font-family: "Nunito Sans", sans-serif !important;
}

body nav {
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  z-index: 10;
}

body main {
  background-color: #000;
  color: #fff;
}

body .hero {
  margin-top: -5rem;
  height: 39rem;
}

body .hero .hero-background {
  z-index: 0;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 43.4rem;
}

body .hero .hero-background .hero-background-image-filter img {
  width: -webkit-fill-available;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .hero .hero-background .hero-background-image-filter .img-gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: -moz- oldlinear-gradient(bottom, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

body .hero .hero-background .hero-background-image-filter .img-gradient {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  background-image: -moz- oldlinear-gradient(bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%), -moz- oldradial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%), radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: inherit;
}

body .hero .hero-text {
  position: relative;
  width: 100%;
  padding: 75px 0;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  top: 8rem;
}

body .hero .hero-search {
  position: relative;
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

body .hero .hero-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .hero .hero-search #inner_search {
  width: 25rem;
  height: 3rem;
}

.img-content {
  -webkit-box-shadow: 0 2px 8px black;
          box-shadow: 0 2px 8px black;
  border-radius: 8px;
  width: 100%;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  background: #dbdbdb;
  overflow: hidden;
}

.card-border {
  border-bottom: 8px solid #222;
}

.card-section {
  padding: 70px 45px;
  padding-top: 30px;
}

.bg-primary,
.btn-primary {
  background-color: #5e72e4 !important;
}

.bg-dark-primary,
.btn-dark-primary {
  background-color: #3c4eb1 !important;
}

.bg-success,
.btn-success {
  background-color: #2dce89 !important;
}

.bg-danger,
.btn-danger {
  background-color: #f40612 !important;
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem black !important;
          box-shadow: 0 0.5rem 1rem black !important;
}

.radius {
  border-radius: 5rem;
}
/*# sourceMappingURL=style.css.map */