<div class="hero w-100">
    <div class="hero-background card-border">
        <div class="hero-background-image-filter">
            <img src="./img/hero-img.jpg" alt="" loading="lazy" />
            <div class="img-gradient"></div>
        </div>
    </div>
    <div class="hero-text text-white">
        <div class="text-section text-center">
            <h1>Welcome to <strong>MovieNesia</strong></h1>
            <h2>Explore millions of movies and TV shows</h2>
        </div>
        <div class="hero-search">
            <a
                class="btn text-white btn-movie fw-bold"
                id="submit-search"
                href="./discover.html"
                >Discover Now</a
            >
        </div>
    </div>
</div>
