<div class="search-section">
    <form action="">
        <input
            dir="auto"
            id="movie_search"
            name="search"
            type="text"
            tabindex="1"
            autocorrect="off"
            autofill="off"
            autocomplete="off"
            spellcheck="false"
            placeholder="Search for a Movie"
            value=""
            class="form-control"
        />
        <!-- placeholder="Search for a Movie, TV Series, Crew/Actor..." -->
    </form>
</div>
