<div class="hero w-100">
    <div class="hero-background card-border">
        <div class="hero-background-image-filter">
            <img src="img/hero-img.jpg" alt="" loading="lazy" />
            <div class="img-gradient"></div>
        </div>
    </div>
    <div class="hero-text text-white">
        <div class="text-section text-center">
            <h1>Welcome</h1>
            <h2>Explore millions of movies and TV shows now</h2>
        </div>
        <div class="hero-search">
            <form
                id="inner_search_form"
                action=""
                method="get"
                accept-charset="utf-8"
            >
                <input type="hidden" name="language" value="id" />

                <label class="me-2">
                    <input
                        dir="auto"
                        id="inner_search"
                        name="query"
                        type="text"
                        tabindex="1"
                        autocorrect="off"
                        autofill="off"
                        autocomplete="off"
                        spellcheck="false"
                        placeholder="Search for a Movie, TV Series, Crew/Actor..."
                        value=""
                        class="form-control"
                    />
                </label>
                <input
                    class="btn btn-danger fw-bold"
                    type="submit"
                    value="Cari"
                />
            </form>
        </div>
    </div>
</div>
